@font-face {
  font-family: "Orbitron regular";
  src: url(./fonts/Orbitron/static/Orbitron-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Orbitron bold";
  src: url(./fonts/Orbitron/static/Orbitron-Bold.ttf);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron regular", sans-serif;
  text-align: center;
  color: white;
  background: url(./images/rover-bg.jpg) no-repeat center/cover;
}

#app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.grid-arrows-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.board-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

h1 {
  width: 100%;
  color: orangered;
  font-family: "Orbitron bold";
}

.timer-display {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
  gap: 5px;
}

#timer {
  font-size: 30px;
}

#board-grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  font-family: "Orbitron bold";
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: darkred;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alien {
  z-index: 10;
}

.arrows-rover-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 50px;
}

.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
  cursor: pointer;
}

#start {
  width: 250px;
  height: 70px;
  border: none;
  font-family: "Orbitron bold";
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: darkred;
  cursor: pointer;
}

/* Pressed effect */
#start:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#game-rules {
  position: relative;
  font-family: "Orbitron bold";
  font-size: 50px;
}

.ux {
  font-style: italic;
  font-size: 18px;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 70px;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.8);
  color: darkred;
}

#game-rules:active {
  transform: translateY(2px);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#game-rules:hover .tooltip {
  visibility: visible;
}

#arrow-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-family: "Orbitron bold";
}

.arrow {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.forward {
  grid-column: 2;
  grid-row: 1;
}

.backward {
  grid-column: 2;
  grid-row: 3;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.right {
  grid-column: 3;
  grid-row: 2;
}

.reset {
  grid-column: 2;
  grid-row: 2;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: orangered;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrow:active,
.reset:active {
  transform: translateY(2px);
}

.reset:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#rover-info {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  text-align: left;
  padding: 10px;
  gap: 5px;
}

#rover-info p:nth-child(1),
#rover-info span {
  font-family: "Orbitron bold";
}

footer {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

/* Alert message */
#modal-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

.modal {
  width: 80%;
  color: black;
  background-color: #fefefe;
  padding: 20px;
  margin: 15% auto;
  opacity: 0.9;
}

.alert-message {
  font-size: 20px;
  margin-bottom: 20px;
}

.alert-message span {
  font-weight: bold;
}

.close-button {
  font-family: "Orbitron bold";
  cursor: pointer;
}

.ok {
  font-size: 18px;
  color: white;
  background-color: darkred;
  border: none;
  padding: 7px;
  margin: 0 auto;
}

.sign {
  float: right;
  font-size: 30px;
  color: #aaa;
}

.sign:hover,
.sign:focus {
  color: darkred;
}

@media screen and (max-width: 1153px) {
  .grid-arrows-container {
    width: 100%;
    flex-direction: column;
    padding: 0 10px;
    gap: 25px;
  }
  .board-grid-container,
  .start-game,
  .arrows-rover-info {
    width: 100%;
  }
  #board-grid {
    grid-template-columns: repeat(10, 40px);
  }
  .cell,
  .alien {
    width: 40px;
    height: 40px;
  }
  .arrows-rover-info {
    gap: 20px;
  }
  .arrow,
  .reset {
    width: 95px;
    height: 95px;
  }
  .reset {
    font-size: 50px;
  }
}

/* Background music */
#toggle {
  position: absolute;
  top: 15px;
  left: 10px;
  cursor: pointer;
}

#toggle-music {
  width: 48px;
  height: 48px;
}

figcaption {
  font-size: 16px;
}

@media screen and (max-width: 485px) {
  .alert-message {
    font-size: 16px;
  }
  .ux {
  font-size: 15px;
  }
  #board-grid {
    grid-template-columns: repeat(8, 40px);
  }
  .start-game {
    gap: 25px;
  }

  #toggle-music {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 400px) {
  .timer-display p,
  #timer {
    font-size: 25px;
  }
  #board-grid {
    grid-template-columns: repeat(8, 33px);
  }
  .cell,
  .alien {
    width: 33px;
    height: 33px;
  }
  .cell {
    font-size: 25px;
  }
}
